{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="b_lang">
            </div>
            <div class="b_table">
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
